* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #111729;
}
body,
input {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
}
.header {
    height: 28vh;
    background-image: url('resources/hero-image-movie-search.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.logo {
    width: 40vh;
}

.movie-search {
    background-color: #20293A;
    padding: 20px 0 20px 28px;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 800px;
    margin-bottom: -30px;
}
.movie-search_input {
    background-color: #20293A;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s; 
}
.movie-search_input::placeholder {
    font-size: 16px;
    color: #97A3B6;
}
.movie-search_button {
    background-color: #20293A;
    border: none;
    cursor: pointer;
}

.movie_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.movie-card,
.movie-error {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1.5rem;
    border: 2px solid #20293A;
    border-radius: 20px;
    color: #97A3B6;
    margin: 70px auto 0;
}
.movie-card {
    width: 80%;
}
.hidden {
    display: none;
    overflow: hidden;
}
.movie_img {
    display: block;
    width: 200px;   
    height: auto; 
    max-width: 100%;
}

.movie-info_title {
    font-size: 1.5rem;
}
.tag {
    background-color: #4d525b5a;
    border-radius: 1rem;
    padding: 5px 0.5rem;
    margin-right: 5px;
}
.movie-info_descr,
.movie-info_tags {
    margin-top: 0.85rem;
}
.movie-info_director {
    margin-top: 1.5rem;
}

.movie-info_writers, 
.movie-info_stars, 
.movie-info_rating {
    margin-top: 0.5rem;
}

.white {
    color: white;
}

@media (min-width:860px) and (max-width:1279px) {
    .header {
        padding-top: 3rem;
    }
    .movie-search {
        max-width: 60%;
    }
}

@media (min-width:720px) and (max-width:859px) {
    .movie_container {
        justify-content: column;
    }
    .header {
        padding-top: 3rem;
    }
    .movie-search {
        max-width: 60%;
    }
    
}

@media (max-width: 720px) {
    .header {
        padding-top: 4rem;
        gap: 1rem;
    }
    .movie-card {
        width: 80%;
        flex-direction: column;
    }
    .movie-search {
        max-width: 95%;
    }
    .movie_img { 
        width: 200px; 
    }
}